h1 {
  text-align: center;
  color: #33383a;
}
.background {
  background-color: #121212;
}

h2 {
  color: #33383a;
  text-align: center;
  font-size: 50px;
}
.me {
  position: relative;
  display: flex;
  align-items: center;
  left: 40%;
}
.about, p {
  text-align: center;
  color: #33383a;
}
.pro1{
  
  position: relative;
  display: flex;
  align-items: center;
  left: 30%;
}
